<launch>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find robonautica_slam)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robonautica_slam)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robonautica_slam)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robonautica_slam)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robonautica_slam)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find robonautica_slam)/param/dwa_local_planner_params.yaml" command="load" />
    <param name="base_frame" value="base_link" />

    <!-- Set to true of want to only move forward -->
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="false" />
  </node>
</launch>